{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <table>
        <tbody>
            {% for row in board %}
                <tr>
                    {% for cell in row %}
                        <td>{{cell}}</td>
                    {% endfor%}
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <form method="POST" class="add_word">
        <input type="text" name="word" placeholder="Input your guess" class="word" autofocus autocomplete="off">
        <button>Submit</button>
    </form><br>
    <p class="highest"></p>
    <p class="round"></p><br>
    <ul class="words"></ul>
{% endblock %}